.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 800px;
 
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
}
input{
  padding: 7px;
  margin-top: 1rem;
  border-radius: 6px;
  width: 100%;
}
.data_wrapper{
  margin: 0 auto;
  border-bottom: 2px solid black;
}
.input_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;

}
.data_wrapper form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_btn{
  margin-bottom: 1rem;
  padding: 0.6rem 0.9rem;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: rgb(41, 104, 220);
  color: white;
  cursor: pointer;
  width: 100%;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.loading{
  text-align: center;
}
.space-between{
  justify-content: space-between;
}
.delete_btn{
  margin-left: 0.5rem;
  outline: none;
  border: none;
  background-color: rgb(244, 68, 48);
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
}
li{
  list-style-type: none;
  margin-bottom: 1rem;
}